{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flexy Free Bootstrap Admin Template by WrapPixel</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'dashboard/images/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/css/styles.min.css' %}" />
  <!-- jQuery -->

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">

<!-- DataTables JS -->

</head>

<body>
  {% include "dashboard/sidebar.html" %}
<div class="body-wrapper">
  {% include "dashboard/header.html" %}
  {% block content %}

  {% endblock %}

  <script src="{% static 'dashboard/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'dashboard/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dashboard/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'dashboard/js/app.min.js' %}"></script>
  <script src="{% static 'dashboard/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'dashboard/libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'dashboard/js/dashboard.js' %}"></script>

<!-- solar icons (CDN stays same) -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


{% block script %} {% endblock script %}
</body>

</html>



